<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Self-Employee Tracker</a>
            <form class="d-flex" role="search">
                <a href="/logout" class="btn btn-outline-primary">Logout</a>
            </form>
        </div>
    </nav>
    <div class="container contain cont">
        <div class="table-head">
            <h3>Upcomming Jobs -- Potential Earnings(<span id="totalCurrent"></span>)</h3>
        </div>
        <div class="table-space">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th class="day" scope="col">Start Date</th>
                        <th class="c-price" scope="col">Earnings</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody id="table1" class="divider">
                    {% for c in current_jobs %}
                        {% if c.user_id.id == session["user_id"] %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td class="day">{{ c.start_date.strftime('%B %d, %Y') }}</td>
                            <td class="c-price">$<span class="price1">{{c.pay}}</span></td>
                            <td>
                                <a class="btn btn-primary" href="/job/{{c.id}}">Details</a> 
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table> 
            <a href="/new-job" class="btn btn-primary">Add New Job</a>
        </div>
    </div>
    <div class="container contain2 cont">
        <div class="table-head">
            <h3>Past Jobs -- Real Earnings(<span id="totalPast"></span>)</h3>
        </div>
        <div class="table-space">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th class="day" scope="col">Start Date</th>
                        <th class="c-price" scope="col">Earnings</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody id="table2" class="divider">
                    {% for p in past_jobs %}
                        {% if p.user_id.id == session["user_id"] %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td class="day">{{ p.start_date.strftime('%B %d, %Y') }}</td>
                            <td class="c-price">$<span class="price2">{{p.pay}}</span></td>
                            <td>
                                <a class="btn btn-primary" href="/past/{{p.id}}">Details</a> 
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <a href="/past-job" class="btn btn-primary">Add Past Job</a>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>