<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="body">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Self-Employee Tracker</a>
            <form class="d-flex" role="search">
                <a href="/dashboard" class="btn btn-outline-primary btn2">Home</a>
                <a href="/logout" class="btn btn-outline-primary">Logout</a>
            </form>
        </div>
    </nav>
    <div class="container contain cont2">
        <form class="form" action="/update_new" method="post">
            <h1 class="big">Update Job -- {{current.name}}</h1>
            {% with messages = get_flashed_messages(category_filter=['current']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" name="id" value={{current.id}}>
            <div class="row justify-content-around">
                <div class="col-4">
                    <div class="mb-3">
                        <label class="form-label">Job Name</label>
                        <input type="text" class="form-control" name="name" value="{{current.name}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job Description</label>
                        <textarea class="form-control" name="description" rows="4">{{current.description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Start Date And Arrive Time</label>
                        <input type="datetime-local" class="form-control" name="start_date" value="{{current.start_date}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End Date</label>
                        <input type="datetime-local" class="form-control" name="end_date" value="{{current.end_date}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Pay</label>
                        <input type="number" class="form-control" step="any" name="pay" value="{{current.pay}}">
                    </div>
                </div>
                <div class="col-4">
                    <div class="col-12">
                        <label class="form-label">Home Location</label>
                        <input type="text" class="form-control" name="location" placeholder="1234 Main St" value="{{current.location}}">
                    </div>
                    
                    <div class="col-12">
                        <label class="form-label">Work Address</label>
                        <input type="text" class="form-control" name="address" placeholder="1234 Main St" value="{{current.address}}">
                    </div>
                    <h5 class="employ">Employer Information</h5>
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="full_name" value="{{current.full_name}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control" name="phone" value="{{current.phone}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control"  name="email_address" value="{{current.email_address}}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>