<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Self-Employee Tracker</a>
            <form class="d-flex" role="search">
                <a href="/dashboard" class="btn btn-outline-primary btn2">Home</a>
            </form>
        </div>
    </nav>
    <div class="container contain">
        <div class="row justify-content-between">
            <div class="col-4">
                <h1>{{current.name}}</h1>
            </div>
            <div class="col right">
                <form action="/complete" method="post">
                    <input type="hidden" name="id" value={{current.id}}>
                    <input type="submit" class="btn btn-success move" value="Complete">
                </form>
            </div>
        </div>
        <hr>
        <div>
            <div class="col">
                <hr>
                <dt><h3>Distance</h3></dt>
                <dd><span>From: {{current.location}}</span></dd>
                <dd>To: {{current.address}}</dd> 
                <hr>
                <dt><h3>Job Information</h3></dt>
                <dd>Description -- {{current.description}}</dd>
                <dd>Start Date: {{current.start_date.strftime('%m/%d/%Y')}} -- End Date: {{current.end_date.strftime('%m/%d/%Y')}}</dd>
                <dd>Arrive Time: {{current.start_date.strftime('%I:%M% %p')}}</dd>
                <dd>Total Pay: ${{current.pay}}</dd>
                <hr>
                <dt><h3>Contact Info</h3></dt>
                <dd >Employer Name: {{current.full_name}}</dd>
                <dd>Employer Phone Number: {{current.phone}}</dd>
                <dd>Employer Email Address: {{current.email_address}}</dd>
            </div>
        </div>
        <hr>
        <div>
            <a href="/job/edit/{{current.id}}" class="btn btn-primary">Edit</a> <a href="/delete/current/{{current.id}}" class="btn btn-danger">Delete</a>
        </div>
        
    </div>
</body>
</html>