<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Self-Employee Tracker</a>
            <form class="d-flex" role="search">
                <a href="/dashboard" class="btn btn-outline-primary btn2">Home</a>
                <a href="/logout" class="btn btn-outline-primary">Logout</a>
            </form>
        </div>
    </nav>
    <div class="container contain cont">
        <div class="row justify-content-between">
            <div class="col-4">
                <h1>Job Details -- {{past.name}}</h1>
            </div>
            <div class="col-4 right">
                <button class="btn btn-secondary" disabled>Completed</button>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-4">
                <hr>
                <dt><h3>Distance</h3></dt>
                <dd><span>From: {{past.location}}</span></dd>
                <dd>To: {{past.address}}</dd> 
                <hr>
                <dt><h3>Job Information</h3></dt>
                <dd>Description -- {{past.description}}</dd>
                <dd>Start Date: {{past.start_date.strftime('%m/%d/%Y')}} -- End Date: {{past.end_date.strftime('%m/%d/%Y')}}</dd>
                <dd>Arrive Time: {{past.start_date.strftime('%I:%M% %p')}}</dd>
                <dd>Total Pay: ${{past.pay}}</dd>
                <hr>
                <dt><h3>Contact Info</h3></dt>
                <dd >Employer Name: {{past.full_name}}</dd>
                <dd>Employer Phone Number: {{past.phone}}</dd>
                <dd>Employer Email Address: {{past.email_address}}</dd>
            </div>
        </div>
        <hr>
        <div>
            <a href="/past/edit/{{past.id}}" class="btn btn-primary">Edit</a> <a href="/delete/past/{{past.id}}" class="btn btn-danger">Delete</a>
        </div>
        
    </div>
</body>
</html>