.box{
    padding: 25px;
    margin: 0px auto;
    background-color: rgb(55, 55, 55);
    border-radius: 5px;
    color: white;
    border: 4px solid rgb(59, 59, 215);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media only screen and (min-width: 600px) {
    .log-box{
        margin: 0 auto;
        width: 400px;
    }
}
@media only screen and (max-width: 700px) {
    .log-box{
        margin: 0 auto;
        padding: 0px !important;
    }
    .c-price{
        display: none;
    }
    .cont{
        padding: 25px 0px !important;
    }
    .table-space{
        margin: 5px !important;
    }
}
@media only screen and (max-width: 500px) {
    .c-price{
        display: none;
    }
    .day{
        display: none;
    }
}
.form-control{
    background: transparent !important;
}
.extra{
    padding: 10px 0px !important;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(57, 175, 215) inset !important;
}

html, body{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); */
    position: relative;
    background: linear-gradient( 135deg, #559f74 10%, #002661 100%);
    max-width: 100%;
    overflow-x:hidden;
    height: 100%;
}
.body{
    background: linear-gradient( 135deg, #559f74 10%, #002661 100%);
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%); */
}
.head{
    font-size: 45px;
}
.distance{
    margin: 10px 0px;
}
.btn2{
    margin-right: 15px;
}
.text-head{
    text-align: center;
    border-radius: 5px;
    border: 4px solid rgb(59, 59, 215);
    color: white;
    margin: 30px 0px;
    padding: 10px;
    background-color: rgb(55, 55, 55);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.divider{
    border-top: 2px solid rgb(72, 77, 185);
}
.table-head{
    margin-bottom: 25px;
    margin-left: 15px;
    color: white;
}
.contain{
    margin: 40px 5px;
    color: white;
}
.contain2{
    margin: 70px 25px;
}
.right{
    text-align: right;
    margin-right: 20px;
}
.form{
    margin: 0 auto;
    padding: 25px;
    color: white;
    border-radius: 5px;
}
.gap-2{
    margin-top: 50px;
}
.box-error{
    font-weight: bolder;
    margin: 10px 0px;
    background-color: rgb(72, 77, 185);
    padding: 10px;
    border-radius: 7px;
}
.error{
    color: red;
}
ul, li{
    list-style: none;
}
.cont{
    border-radius: 5px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.move{
    margin-left: 7px;
    margin-right: -10px;
}
.total{
    margin: 15px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid grey;
}
.table-space{
    margin: 5px;
}
.distance{
    margin-top: 25px;
}
.note{
    color: red;
}

.non-function{
    color: red;
}
th{
    text-align: center !important;
}
.employ{
    margin: 10px;
}
.cont2{
    border-radius: 5px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 700px !important;
}

.link{
    color: #002661;
}
.link:hover{
    color: black;
}